.Small-add {
  border: white solid 1px;
  height: 20rem;
  width: 20rem;
  margin: 5rem;
  padding: 2rem;
}

.Title {
  width: 100%;
  text-align: center;
}

.Description {
  text-align: left;
}

.Header {
  height: 10rem;
  width: 100%;
}

.AddContainer {
  display: flexbox;
  
}

a {
  text-decoration: none;
  color: white;
}
